export(bounded.reg)
export(crossval)
export(elastic.net)
export(stability)
exportClasses(cvpen)
exportClasses(quadrupen)
exportClasses(stability.path)
exportMethods(deviance)
exportMethods(fitted)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(residuals)
exportMethods(show)
import(ggplot2)
import(grid)
import(Matrix)
import(parallel)
import(Rcpp)
import(RcppArmadillo)
import(reshape2)
import(scales)
importFrom(graphics,plot)
importFrom(stats,deviance)
importFrom(stats,fitted)
importFrom(stats,predict)
importFrom(stats,residuals)
useDynLib(quadrupen,elastic_net)
