export(bounded.reg)
export(crossval)
export(elastic.net)
export(stability)
exportClasses(cvpen)
exportClasses(quadrupen)
exportClasses(stability.path)
exportMethods(deviance)
exportMethods(fitted)
exportMethods(plot)
exportMethods(predict)
exportMethods(print)
exportMethods(residuals)
exportMethods(show)
import(Matrix)
import(Rcpp)
import(ggplot2)
import(grid)
import(methods)
import(parallel)
import(reshape2)
import(scales)
importFrom(graphics,plot)
importFrom("stats", "coef", "coefficients", "quantile", "runif", "var", "residuals", "predict", "fitted", "deviance")
importFrom("utils", "modifyList")
useDynLib(quadrupen, .registration=TRUE)
